Button {
  width: 90%;
  margin: 4px !important;
}

input[type=text] {
  margin-top: 3px;
  width: 96%;
  margin-left: 4px;
}

.name {
  margin-top: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold
}


